@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

html {
    font-size: 18px;
}

body {
    background-color: #fff; /* Белый фон */
    color: #333; /* Темно-серый текст */
    font-family: "Martian Mono", monospace;
    margin: 0px;
}

body.light-theme {
    background-color: #f9f9f9; /* Светло-серый фон для светлой темы */
    color: #333; /* Темно-серый текст */
}

header {
    background: pink; /* Оранжевый фон для хедера */
}

.btn-search {
    border-radius: 30px;
}


.my-card {
    padding: 28px;
    background: hotpink; /* Светлый оранжевый фон */
    transition: background .2s linear;
    border-radius: 10px;
    max-width: 350px;
    border: 2px solid pink; /* Оранжевая рамка */
}

.my-card:hover {
    background: #ffab91; /* Более темный оранжевый на ховере */
    cursor: pointer;
    transition: background .2s linear;
    color: #4a251e; /* Темно-коричневый текст */
}

.light-theme .my-card:hover {
    background: lightblue; /* Светлый оранжевый на ховере для светлой темы */
}

.text-my-card {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    color: #333; /* Темно-серый текст */
}

.description-card {
    font-size: 0.7rem;
    color: #333; /* Темно-серый текст */
}

.price-card {
    font-size: 1rem;
    line-height: 1rem;
    color: pink; /* Оранжевый цвет для цены */
    display: flex;
    gap: 5px;
    align-items: center;
}

.my-card img {
    width: 244px;
    height: 214px;
    object-fit: contain;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Тень для изображений */
}

.container-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

footer {
    margin-top: 50px;
    background: pink; /* Оранжевый фон для футера */
    padding: 50px 100px;
}

footer {
    color: #fff; /* Белый текст в футере */
}

.attribution {
    color: #333; /* Темно-серый текст */
    font-size: 12px;
}

.attribution a {
    color: pink; /* Оранжевый цвет для ссылок */
}

#themeToggle {
    background: transparent;
    color: pink; /* Оранжевый цвет для кнопки переключения темы */
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 40px;
    transition: 0.4s transform linear;
    margin: 10px;
    border-color: transparent;
}

#themeToggle:hover {
    transform: scale(1.1);
    transition: 0.4s transform linear;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2); /* Тень на ховере */
}

#themeToggle:active {
    transform: scale(0.9);
    transition-duration: .2s;
}

header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: pink; /* Оранжевый фон для фиксированного хедера */
    max-width: 100%;
    z-index: 100;
}

.cart-btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(to left, pink, hotpink); /* Градиент для кнопки корзины */
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Тень для кнопки */
}

.cart-btn:hover {
    background: linear-gradient(to left, pink, hotpink); /* Градиент на ховере */
}

.cart-btn:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.cart-btn:hover .bell {
    animation: bellRing 0.9s both;
}

.cart-counter {
    background: #fff; /* Белый фон для счетчика */
    font-size: small;
    color: pink; /* Оранжевый цвет для счетчика */
    border-radius: 100px;
    padding: 0 .2em;
    position: absolute;
    top: 0;
    right: 0;
}

/* Cart styles */
.cart-items-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

.cart-item {
    border: 1px solid pink; /* Оранжевая рамка для элемента корзины */
    padding: 20px 30px;
    border-radius: 10px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-page {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-total {
    color: pink; /* Оранжевый цвет для общей суммы */
}

.order {
    width: 100%;
    padding: 20px;
    display: none;
    opacity: 0;
}

@media (max-width: 720px) {
    .cart-page {
        flex-wrap: wrap;
    }
}

